<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>23.Swift3.0 - 便利构造函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0DDAB161DB3285300A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DDAB2A1DB3285400A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DDAB351DB3285400A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
