<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>22.Swift3.0 - session使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0DDAAA01DB3201700A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DDAAB41DB3201700A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0DDAABF1DB3201700A66CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
