<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12.Swift3.0 - Swift与OC区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8474FAD81D9AB2EB00AF6B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8474FAEC1D9AB2EB00AF6B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8474FAF71D9AB2EB00AF6B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
