<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>codeScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F079CBD81C8FB45E00852F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F079CBF11C8FB45E00852F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F079CBFC1C8FB45E00852F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
