<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>刷新控件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F023563C1DD416BC00E0286B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F02356501DD416BC00E0286B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F023565B1DD416BC00E0286B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
